name: Increment version in gradle project

on:
  workflow_call:
    inputs:
      gradle_location:
        description: 'full path to build.gradle file'
        required: false
        default: 'build.gradle'
        type: string
    secrets:
      github_token:
        description: 'workflow token for checkout and push'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.github_token }}

      - name: tag and increment version
        run: |
          version=$(egrep "^version = (.*)$" "${{ inputs.gradle_location }}" |awk -F"'" '{print $2}')
          #
          # get current version
          #
          git config --global user.email "${{ github.actor }}@users.noreply.github.com"
          git config --global user.name "${{ github.actor }}"
          major=$(echo $version | awk -F "." '{print $1}')
          minor=$(echo $version | awk -F "." '{print $2}')
          minor=$(( minor + 1))
          patch=0
          #
          # set version for backend
          #
          sed -i "s/version = '$version'/version = '$major.$minor.$patch'/g" "${{ inputs.gradle_location }}"
          git add "${{ inputs.gradle_location }}"
          git commit -m "[RELEASE] bump version for next release."
          git push origin main
