name: docker login, gradle build and docker push

on:
  workflow_call:
    inputs:
      project_dir:
        description: 'project dir with gradle file. current directory being default'
        required: false
        default: '.'
        type: string
      docker_registry:
        description: 'The docker registry to use for docker login'
        required: false
        default: 'ghcr.io'
        type: string
      docker_user:
        description: 'The docker user to login'
        required: true
        type: string
      docker_file_location:
        description: 'The docker file location'
        default: './Dockerfile'
        required: false
        type: string
      docker_image_name:
        description: 'The docker image name to build'
        required: true
        type: string
      jdk_version:
        description: 'The jdk version to use run java applications'
        required: false
        default: '17'
        type: string
    secrets:
      docker_password:
        description: 'The docker password for login'
        required: true

jobs:
  docker_release:
    name: docker release job
    runs-on: ubuntu-latest
    permissions:
      packages: write
      contents: write
    steps:
      - uses: actions/checkout@v2
        with:
          token: ${{ secrets.docker_password }}

      - name: Log in to the Container registry
        uses: docker/login-action@v1
        with:
          registry: ${{ inputs.docker_registry }}
          username: ${{ inputs.docker_user }}
          password: ${{ secrets.docker_password }}

      - name: Set up JDK ${{ inputs.jdk_version }}
        uses: actions/setup-java@v2
        with:
          java-version: ${{ inputs.jdk_version }}
          distribution: 'adopt'
          cache: gradle
      - name: Validate Gradle wrapper
        uses: gradle/wrapper-validation-action@e6e38bacfdf1a337459f332974bb2327a31aaf4b
      - name: Make gradlew executable
        run:  |
          cd "${{ inputs.project_dir }}"
          chmod +x ./gradlew
      - name: Build with Gradle
        run: |
          cd "${{ inputs.project_dir }}"
          ./gradlew build --stacktrace
      - name: Cleanup Gradle Cache
        # Remove some files from the Gradle cache, so they aren't cached by GitHub Actions.
        # Restoring these files from a GitHub Actions cache might cause problems for future builds.
        run: |
          rm -f ~/.gradle/caches/modules-2/modules-2.lock
          rm -f ~/.gradle/caches/modules-2/gc.properties

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: ${{ inputs.docker_registry }}/${{ inputs.docker_image_name }}
          flavor: |
            latest=auto
          tags: |
            type=ref,event=branch
            type=ref,event=tag
            type=match,pattern=\d.\d.\d
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}

      - name: Build and push Docker image
        uses: docker/build-push-action@v2
        with:
          context: .
          file:  ${{ inputs.docker_file_location }}
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          secrets: |
            GIT_AUTH_TOKEN=${{ secrets.docker_password }}
